.demo-game {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    align-items: center;
    justify-content: space-between;
    margin: -22rem 6rem 0 6rem;
    padding: 3rem;
}

.demo-game .game-grid {
    width: 50%;
}
