.game-grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 0 1vw;
    padding: 2px;
    background-color: #323232;
}
